@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.ttf");
}
.root
{
    -fx-font-family: 'Open Sans', sans-serif;
}
.root FontAwesomeIconView
{
    -fx-font-size: 16;
    -fx-fill: white;
    -fx-font-family: 'FontAwesome';
}
Label
{
    -fx-font-size: 14;
    -fx-text-fill: #a8a8a8;
    -fx-padding: 5 10;
}
Button
{
    -fx-font-size: 14;
    -fx-text-fill: #a8a8a8;
    -fx-font-weight: bold;
    -fx-background-color: Transparent;
    -fx-padding: 5 10;
}
#menu
{
    -fx-background-color: #2e2e2e;
    -fx-min-height: 50;
}
#search
{
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-border-radius: 10;
}
#sidemenu
{
    -fx-background-color: #2e2e2e;
}
#sidemenu Button
{
    -fx-padding: 20 0 0 20;
    -fx-text-fill: #A7A7A7;
}
#sidemenu > Label
{
    -fx-padding: 20 0 0 20;
}
#sidemenu Button:hover
{
    -fx-text-fill: white;
}
/* The ListView for playlist */
#playlists
{
    -fx-font-size: 14;
    -fx-padding: 5 1 0 10;
    -fx-background-color: Transparent;
}

/**/
#playlists .list-cell
{
    -fx-text-fill: #A7A7A7;
    -fx-background-color: Transparent;
}

#playlists .list-cell:selected
{
    -fx-text-fill: white;
}
#playlists .list-cell:hover
{
    -fx-text-fill: white;
}


/* The scrollbar of ListView */
#playlists .scroll-bar:horizontal .track,
#playlists .scroll-bar:vertical .track
{
    -fx-background-color: #121212;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
/* The increment and decrement button scrollbar */
#playlists .scroll-bar:horizontal .increment-button,
#playlists .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;
}
/* The increment and decrement button scrollbar */
#playlists .scroll-bar:vertical .increment-button,
#playlists .scroll-bar:vertical .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding:0 10 0 0;
}

#playlists  .scroll-bar .increment-arrow,
#playlists  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding: 0;
}
/* The main scrollbar CSS class which we drag every time (movable) */
#playlists .scroll-bar:horizontal .thumb,
#playlists .scroll-bar:vertical .thumb
{
    -fx-background-color: #A7A7A7;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2;
}
#playlist_btn
{
    -fx-background-color: #2e2e2e;
    -fx-padding: 19 0 20 0;
    -fx-pref-width: 200;
    -fx-text-fill: #a8a8a8;
    -fx-font-weight: bold;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: white;
}
#playlist_btn:hover
{
    -fx-text-fill: white;
}

/* Bottom control */
#control
{
    -fx-min-height: 90;
    -fx-background-color: #1c1c1c;
}
#control_center
{
    -fx-padding: 0 20;
}
#play_btn
{
    -fx-background-color: #3C3F41;
    -fx-border-color: #A7A7A7;
    -fx-background-radius: 10;
    -fx-padding: 5 15;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-background-insets: 2;
}
#play_btn:hover
{
    -fx-border-color: white;
}
#play_btn > FontAwesomeIconView
{
    -fx-font-size: 16;
    -fx-fill: #A7A7A7;
}
#play_btn:hover > FontAwesomeIconView
{
    -fx-fill: white;
}
#volume
{
    -fx-padding: 0 20 0 0;
}
#volume FontAwesomeIconView
{

}
#volume Slider
{
    -fx-max-width: 130;
    -fx-padding: 0 0 0 10;
}
Slider .thumb
{
    -fx-background-color: #A7A7A7;
}
Slider .thumb:hover
{
    -fx-background-color: white;
}
#volume Slider .track
{

}
#control_slider
{
    -fx-padding: 10 0 0 0;
}
#control_buttons
{
    -fx-padding: 0 0 10 0;
}

#control_volume Slider
{
    -fx-padding: 0 0 0 10;
}